<!doctype html>
<html lang="en">
{% load static %}
<!--<head>-->
    {% include 'header.html' %}
<!--</head>-->

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Preloader -->
            <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTELogo" height="60" width="60">
          </div>

        <!-- Navbar -->
        {% include 'navbar.html' %}
        <!-- ./Navbar -->

        <!-- Sidebar -->
        {% include 'sidebar.html' %}
        <!-- ./Sidebar -->

        <!-- Content -->
        {% block content %}
        {% endblock %}
        <!-- ./Content -->

    </div>
    <!--  ./wrapper  -->




<!--<footer>-->
     {% include 'footer.html' %}
<!--</footer>-->
</body>
</html>



